@import "tailwindcss";

.dark {
    --code-color-text: #f2fffc;
    --code-token-constant: #baa0f8;
    --code-token-string: #ffed72;
    --code-token-comment: #6b7678;
    --code-token-keyword: #7CD5F1;
    --code-token-parameter: #BAA0F8;
    --code-token-function: #a2e57b;
    --code-token-string-expression: #ffb270;
    --code-token-punctuation: #8b9798;
    --code-token-link: #a2e57b;
    --code-token-variable: #f2fffc;
    --code-token-symbol: #BAA0F8;
    --code-token-deleted: ;
    --code-token-inserted: #a2e57b;
    --code-token-class-name: #7CD5F1;
}

.operator {
    color: 	#ff6d7e;
}

.class-name {
    color: #ffb270;
}